.headerActions {
  display: flex;
  align-items: center;
}

.userDropdown {
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.userDropdown:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.sidebarFooter {
  padding: 16px;
  border-top: 1px solid #f0f0f0;
  background-color: #fff;
}

.profileSection {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.profileSection:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.userInfo {
  margin-left: 12px;
  overflow: hidden;
}

.userName {
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userRole {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}


:global(.ant-menu-item-selected) {
  background-color: #635BFF !important;
}

:global(.ant-menu-item:hover) {
  background-color: #635bffbd !important;
}

:global(.ant-menu-item-selected::after) {
  border-right-color: #FF6B00 !important;
}
